<div class='article-details'>
  <div class="card text-center">
    <div class="card-header">
      <div class="form-group">
        <div class="container">
          <h2 class="display-4" id="SourceName">SourceName</h2>
        </div>
      </div>
    </div>
    <div class="card-body">
        <a [routerLink]="['/articles/add']">
          <button type="button" class="btn btn-outline-secondary">Edit</button>
        </a>
        <button type="button" class="btn btn-outline-secondary">Delete</button>
    </div>
  </div>

</div>
