#Log {
  display: flex;
  justify-content: flex-end;
}
.login-label{
  margin: 0 15px 0 0;
  padding: 15px 0;
}

#SourceName{
  display: flex;
  justify-content: center;
  margin-bottom: 0rem;
}

#Footer{
  display: flex;
  align-items : flex-end;
  justify-content: space-between;
  margin-bottom: 0rem;
}


