<div class='article'>
  <div class="form-group" id="Log">
    <p class="login-label">User login</p>
    <button type="submit" class="btn btn-outline-secondary">Log out</button>
  </div>
  <div class="card text-center">
    <div class="card-header">
      <div class="form-group">
        <div class="container">
          <h2 class="display-4" id="Edit">Edit</h2>
        </div>
      </div>
    </div>
    <div class="card-body">
      <form>
      </form>
    </div>
    <div class="card-footer text-muted for form-group" id="Footer">
      <p>Footer</p>
      <p>Powered by NewsAPI</p>
    </div>
  </div>

</div>
