#Log {
  display: flex;
  justify-content: flex-end;
}
#login{
  vertical-align: middle
}

#SourceName{
  display: flex;
  justify-content: center;
  margin-bottom: 0rem;
}

#Buttons{
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
}

#Articles{
  display: flex;
  justify-content: center;
}
#Footer{
  display: flex;
  align-items : flex-end;
  justify-content: space-between;
  margin-bottom: 0rem;
}

.login-label{
  margin: 0 15px 0 0;
  padding: 15px 0;
}

.article{
  padding: 0 15px;
}

select{
  padding: 7px 3px;
}

input[type=text]{
  padding: 6px 3px;
  margin-right: 10px;
  vertical-align: top;
}
