<!-- Add markup -->
<div class='article'>
  <div class="card text-center">
    <div class="card-header">
      <div class="form-group">
        <div class="container">
          <h2 class="display-4" id="Edit">Edit</h2>
        </div>
      </div>
    </div>
    <div class="card-body">
      <div class="article">
        <div class="left">
          <label class="label" for="heading">Heading</label>
          <input type="text" class="heading">
          <label class="label" for="shortDescription">Short Description</label>
          <input type="text" class="shortDescription">
          <label class="label" for="content">Content</label>
          <input type="text" class="content">
        </div>
        <div class="right">
          <label class="label" for="image">Image</label>
          <input type="text" class="image">
          <label class="label" for="date">Date</label>
          <input type="text" class="date">
          <label class="label" for="author">Author</label>
          <input type="text" class="author">
          <label class="label" for="sourceUrl">Source Url</label>
          <input type="text" class="sourceUrl">
          <div class="buttons">
            <button type="button" class="btn btn-outline-secondary">Save</button>
            <button type="button" class="btn btn-outline-secondary">Cancel</button>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
