<!-- Filters -->
<div class="form-group" id="Filters">
  <select class="col-3" id="sel1" (click)="clicked()">
    <option *ngFor="let publisher of publishers">{{publisher.name| uppercase}}</option>
  </select>
  <div class="form-group">
    <input type="text" [(ngModel)]="searchText" placeholder="Type your text here..." />
    <button type="button" class="btn btn-outline-secondary">Filter</button>
  </div>
  <div class="form-check">
    <input type="checkbox" class="form-check-input" id="exampleCheck1">
    <label class="form-check-label" for="exampleCheck1">Only created by me</label>
  </div>
</div>
